.flex-container {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.mat-card {
  font-family: 'Nanum Gothic', sans-serif;
  padding: 30px 20px 25px;
  border-radius: 4px;
  background: linear-gradient(to right, #da4453, #89216b);
  color: #fff;
  font-size: 14px;
}

.mat-card-header {
  @media (max-width: 599px) {
    margin: 0;
  }
}

.mat-card-title {
  font-size: 18px;
  margin-bottom: 8px;
}

.mat-card>.mat-card-actions:last-child {
  flex-direction: row-reverse;
  display: flex;
  padding: 0;
  margin: -10px 0;
}

.mat-mini-fab {
  font-size: 20px;
  transform: scale(0.7);
}

.franchise {
  display: block;
  font-weight: bold;
}

.card-number {
  display: block;
  font-size: 14px;
}

.purchases {
  font-size: 15px;
  font-variant: all-small-caps;
  .quantity {
    font-weight: bold;
  }
}
