<mat-card>

  <div class="flex-container">
    <mat-card-header>
      <mat-card-title>
        <span class="franchise">{{ card.franchise }}</span>
        <span class="card-number">****{{ card.cardNumber }}</span>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content class="purchases">
      <section>
        Purchases
        <span class="quantity">{{ card.purchases }}</span>
      </section>
      <section class="required">
        Required
        <span class="quantity">{{ card.requiredPurchases }}</span>
      </section>
    </mat-card-content>
  </div>

  <div class="flex-container">
    <mat-card-content class="billing">
      Billing cycle from {{ card.billingCicle }}<sup>th</sup>
    </mat-card-content>

    <mat-card-actions>
      <div class="button-row">
        <button mat-mini-fab color="primary" (click)=increment()>+</button>
        <button mat-mini-fab color="warn" (click)=decrement()>-</button>
      </div>
    </mat-card-actions>
  </div>

</mat-card>
