.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mat-card {
  padding: 12px 8px;
}

.mat-card-title {
  font-size: 18px;
  margin-bottom: 8px;
}

.mat-card>.mat-card-actions:last-child {
  flex-direction: row-reverse;
  display: flex;
  padding: 0;
  margin: -10px 0;
}

.mat-mini-fab {
  font-size: 20px;
  transform: scale(0.7);
}
